body {
  font-family: 'Quicksand';
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

section {
  padding: 130px 0;
}

* {
  font-family: 'Quicksand';
}

header {
  position: relative;
  overflow-y: hidden;
  background-image: url("../img/header_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

header .title {
  margin: 206px auto 0 auto;
}

footer {
  padding-top: 130px;
  background: #0f7bff;
  position: relative;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.nav {
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  width: 100%;
  padding: 0 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-bottom-left-radius: 21.5px;
  border-bottom-right-radius: 21.5px;
  background-color: #0f7bff;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
}

.nav__logo span {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding: 34px 24px;
}

.nav__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 570px;
  text-transform: uppercase;
}

.nav__link {
  color: #929292;
  font-size: 16px;
  font-weight: 500;
}

.nav__link_active {
  color: #0f7bff;
}

.btn {
  padding: 16px 45px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 999px;
  border: 2px solid #0f7bff;
  outline: none;
  cursor: pointer;
  text-transform: capitalize;
}

.btn_nav {
  color: #ffffff;
  background: #0063dd;
  padding: 19px 52px;
  text-transform: uppercase;
}

.btn_blue {
  background: #0f7bff;
  color: #fff;
}

.btn_white {
  background: #ffffff;
  color: #0f7bff;
}

.btn_square {
  border-radius: 5px;
  padding: 28px 72px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  color: #333333;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  color: #333333;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

h3 {
  text-transform: capitalize;
  color: #333333;
}

.title {
  width: 615px;
  text-align: center;
  margin: 0 auto 0 auto;
}

.title__subtitle {
  color: #929292;
  font-size: 16px;
  margin-top: 33px;
  line-height: 27px;
}

.title__btns {
  margin: 40px auto 0 auto;
}

.title__btns .btn {
  margin: 0 15px;
}

.title__btns_reduced .btn {
  margin: 0;
}

.title__btns_reduced .btn_blue {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.title__btns_reduced .btn_white {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -4px !important;
}

.title_align-left {
  text-align: left;
  margin: 0;
  width: 555px;
}

.title_reduced {
  width: 360px;
}

.title__link {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #0f7bff;
  margin-top: 40px;
}

.device {
  position: absolute;
  background: url("../img/device.png");
  width: 920px;
  height: 555px;
  left: calc(50% - 460px);
  bottom: -25px;
}

.arrow {
  display: block;
  font-size: 25px;
  padding: 10px 15px;
  color: #ffffff;
  background: #0f7bff;
  border-radius: 999px;
  -webkit-box-shadow: 0px 0px 10px #929292;
          box-shadow: 0px 0px 10px #929292;
  position: absolute;
  bottom: 10px;
  left: calc(50vw - 26.5px);
  cursor: pointer;
  opacity: .5;
}

.arrow:hover {
  opacity: 1;
}

.section_blue {
  background-color: #f5fcfd;
}

#section-features {
  padding: 130px 0;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.cards_reduced {
  z-index: 1;
}

.cards_reduced:after {
  content: "";
  border-bottom: 1px solid #0f7bff;
  width: 70%;
  display: block;
  position: absolute;
  top: 32%;
  left: 15%;
  z-index: -1;
}

.cards_extended {
  width: 750px;
}

.cards__card {
  padding: 40px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 25px #f0f0f0;
          box-shadow: 0px 0px 25px #f0f0f0;
  width: 360px;
  height: 290px;
}

.cards__card_down {
  margin-top: 50px;
}

.cards__card_reduced {
  padding: 50px 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cards__card_extended {
  height: 575px;
}

.cards__card_extended .btn {
  display: block;
  margin: 25px auto 0 auto;
}

.cards__icon {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.cards h3 {
  text-align: center;
  margin: 25px 0;
}

.cards__text {
  text-align: center;
  font-size: 16px;
  color: #929292;
  line-height: 27px;
}

.cards__list {
  list-style: none;
  color: #929292;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.cards__list li {
  margin: 16px 0;
  text-transform: capitalize;
}

.cards small {
  font-size: 16px;
}

.cards__price {
  color: #0f7bff;
  font-size: 32px;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.cards__underline {
  margin: 0;
  width: 50%;
  display: block;
  margin: 0 auto;
  background-color: #e0e0e0;
  height: 1px;
  border: none;
}

.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__photos {
  margin-left: 80px;
}

.about:after {
  position: absolute;
  top: -130px;
  left: -100px;
  z-index: -1;
  content: url("../img/bg_rectangle.svg");
  display: block;
}

.about_reversed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 130px;
}

.about_reversed .about__photos {
  margin-right: 80px;
}

.about_reversed:after {
  left: unset;
  top: unset;
  bottom: -130px;
  right: -100px;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-carousel {
  background-image: url("../img/hands.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel-wrap {
  margin-left: 880px;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__item {
  background-color: #ffffff;
  background-image: url("../img/twitter.png");
  background-repeat: no-repeat;
  background-position: 313px 40px;
  -webkit-box-shadow: 0px 0px 25px #f0f0f0;
          box-shadow: 0px 0px 25px #f0f0f0;
  min-width: 360px;
  height: 215px;
  margin: 45px 30px 40px 0;
  padding: 40px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #929292;
}

.carousel h3 {
  margin: 0 0 5px 0;
}

.carousel__subtitle {
  display: inline-block;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.carousel__page {
  display: block;
  width: 20px;
  height: 10px;
  background: #d4d4d4;
  margin-right: 10px;
  border-radius: 99px;
}

.carousel__page_active {
  width: 30px;
  background: #0f7bff;
}

.carousel__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.news-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.selected-post {
  width: 555px;
}

.selected-post__img {
  width: 555px;
  height: 285px;
  border-radius: 5px;
  overflow: hidden;
  background-image: url("../img/post1.jpg");
  background-size: cover;
  background-position: center center;
}

.selected-post__title {
  display: inline-block;
  margin: 40px 0 20px 0;
  font-size: 24px;
  color: #0f7bff;
  font-weight: 500;
  text-transform: capitalize;
}

.selected-post__text {
  color: #929292;
  line-height: 27px;
}

.selected-post__link {
  text-decoration: none;
  color: #0f7bff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.post-list {
  width: 555px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-list h3 {
  margin: 0;
}

.post-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.post-list__img {
  width: 165px;
  height: 120px;
  background-image: url("../img/post1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: 5px;
  overflow: hidden;
}

.post-list__text {
  width: 360px;
}

.post-list__text p {
  margin-top: 20px;
  color: #929292;
  line-height: 27px;
}

.trial-wrap {
  width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.trial-wrap .title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.trial-wrap .title p {
  margin-top: 15px !important;
}

.bottom-logo {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: #ffffff;
  font-size: 36px;
  margin: 0 auto 35px auto;
  font-weight: 700;
}

.bottom-form {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 130px;
}

.bottom-form input {
  width: 390px;
  outline: none;
  border: 2px solid #ffffff;
  background: #0f7bff;
  font-size: 16px;
  padding: 16px 20px;
  border-top-left-radius: 99px;
  border-bottom-left-radius: 99px;
  color: #fff;
}

.bottom-form input::-webkit-input-placeholder {
  color: #fff;
}

.bottom-form input:-ms-input-placeholder {
  color: #fff;
}

.bottom-form input::-ms-input-placeholder {
  color: #fff;
}

.bottom-form input::placeholder {
  color: #fff;
}

.bottom-form .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -6px;
  border-color: #fff;
}

.footer-hr {
  width: 100vw;
}

.footer-links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 40px 0;
}

.footer-links a {
  color: #ffffff;
}

.footer-links span a {
  margin-right: 35px;
}

.social a {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
}

.twitter {
  background-image: url("../img/twitter.png");
}

.yt {
  background-image: url("../img/yt.png");
}

.fb {
  background-image: url("../img/fb.png");
}

.scroll-top {
  font-size: 30px;
  background-color: #fff;
  color: #0f7bff;
  border-radius: 5px;
  padding: 4px 16px;
  margin-right: -120px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */